@font-face {
	font-family: 'header-coffee';
	src: url( '/assets/styles/fonts/header-coffee.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'menu-coffee';
	src: url( '/assets/styles/fonts/menu-coffee.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'rotate-coffee';
	src: url( '/assets/styles/fonts/rotate-coffee.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'rotate-serif';
	src: url( '/assets/styles/fonts/rotate-serif.ttf');
	font-weight: normal;
}