@font-face {
	font-family: 'header-coffee';
	src: url( '/assets/styles/fonts/header-coffee.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'menu-coffee';
	src: url( '/assets/styles/fonts/menu-coffee.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'rotate-coffee';
	src: url( '/assets/styles/fonts/rotate-coffee.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'rotate-serif';
	src: url( '/assets/styles/fonts/rotate-serif.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'ao-ow';
	src: url( '/assets/styles/fonts/ao-ow.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'serif-plus';
	src: url( '/assets/styles/fonts/serif-plus.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'serif-light';
	src: url( '/assets/styles/fonts/serif-light.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'market-serif';
	src: url( '/assets/styles/fonts/market-serif.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'sha';
	src: url( '/assets/styles/fonts/sha.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'small-bar';
	src: url( '/assets/styles/fonts/small-bar.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'landa';
	src: url( '/assets/styles/fonts/landa.ttf');
	font-weight: normal;
}