.footer{
	width: 102%;
	height: 138px;
	background: #28190f;
	border-top-right-radius: 50% 58%;
	border-top-left-radius: 50% 58%;
	position: absolute;

	& > .footer-bg{
			width: 100%;
			height: 138px;
			background: #2d1f15;
			border-top-right-radius: 50% 34%;
			border-top-left-radius: 50% 34%;
			position: absolute;
			z-index: -1;
	}

	& > .footer-info-shell{
			width: 50%;
			display: flex;
			margin: 0 auto;
			align-content: space-evenly;
			justify-content: space-evenly;
			font-size: 20px;
			padding: 25px 0px 12px 0px;
			border-bottom: 1px solid #623e21;

		& > span{
			padding-right: 20px;
			color: whitesmoke;
		}
	}

	& > .menu-item{

	}

	& > .footer-social-block{

		& > .footer-social-title{
				text-align: center;
				padding: 13px 0px 11px 0px;
				color: #cea788;
				font-size: 16px;
				font-family: arial;
		}

		& > .footer-social-shell{

		}

		& > .footer-social-shell{
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					width: 12%;
					margin: 0 auto;

			& > .social-item{
					display: block;
					width: 30px;
					height: 30px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin-right: 10px;
			}
				.social-item img{
					width: 37px;
					height: 37px;
				}


		}

	}

}