.footer{
	width: 102%;
	height: 138px;
	background:#1b1009/*#1f130b*/;
	border-top-right-radius: 50% 58%;
	border-top-left-radius: 50% 58%;
	position: absolute;
	padding: 0px 0px 19px 0px;

	& > .footer-bg{
			width: 100%;
			height: 138px;
			background:#251b13/*#2b1f15*/;
			border-top-right-radius: 50% 34%;
			border-top-left-radius: 50% 34%;
			position: absolute;
			z-index: -1;
	}

	& > .footer-info-shell{
			width: 50%;
			display: flex;
			margin: 0 auto;
			align-content: space-evenly;
			justify-content: space-evenly;
			font-size: 19px;
			padding: 25px 0px 12px 0px;
			border-bottom: 1px solid #3c2b1d;
			font-family: 'small-bar';
			cursor: pointer;

		& > span{
				padding-right: 20px;
				color: #e6e3dd;
		}
	}

	& > .menu-item{

	}

	& > .footer-social-block{

		& > .footer-social-title{
				text-align: center;
				padding: 13px 0px 11px 0px;
				color: #a7a7a7;
				font-size: 15px;
				font-family: 'header-coffee';
		}

		& > .footer-social-shell{

		}

		& > .footer-social-shell{
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					width: 12%;
					margin: 0 auto;

			& > .social-item{
					display: block;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin-right: 10px;
			}
				.social-item img{
					width: 30px;
					height: 30px;
					cursor: pointer;
				}

		}

	}

}


/*#4c2301;*/