.gallery{
	position: relative;
	background: black;
	margin: 20px 0px 20px 0px;
}

.slider-image-list{
	width: 100%;
	margin: 0 auto;
	background: black;
}

	.slider-display{
		//display: block;
		width: 100%;
		height: 510px;
		position: relative;
		margin: 0 auto;
		//transform: translateX(1640px);
		overflow: hidden;
	}
		.slider-image{
			//display:inline-block;
			position: relative;
			//width: 100%;
			height: 100%;
			transition: all 1s;
			background-repeat: no-repeat;
			background-position: center;
			//overflow: hidden;
		}

			.backdrop-title-image{
				width: 100%;
				display: block;
				position: absolute;
				bottom: 0px;
				background: rgba(0, 0, 0, 0.08);
				padding: 11px 0px 6px 0px;
				border-top: 1px solid #eef0f830;
				border-bottom: 1px solid #d4dcff38;
			}
				.title-image{
					display: block;
					text-align: center;
					font-size: 19px;
					color: #fbfbfb;
					font-family: sans-serif;
					text-shadow: -1px 0px 20px black;
					letter-spacing: 1px;
					line-height: 1.3;
					width: 70%;
					margin: 0 auto;
				}

				.show.title-image{

				}

				.hide.title-image{

				}

		.slider-prev, .slider-next{
			width: 89px;
			height: 100%;
			left: 0px;
			top: 0px;
			position: absolute;
			z-index: 1;
			cursor: pointer;
			transition: 0.8s;
		}

		.slider-next{
			right:  0px!important;
			top: 0px!important;
			left: unset;
		}

		.slider-prev:hover, .slider-next:hover{
			background-color: rgba(255, 255, 255, 0.12);
			transition: 0.8s;
		}
			.arrow-left, .arrow-right{
				width: 43px;
				height: 43px;
				left: 20px;
				top: 50%;
				margin-top: -16px;
				position: absolute;
				z-index: 1;
				background-color: rgba(149, 149, 149, 0.37);
				outline: none;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: left center;
				border-radius: 32px;
				font-weight: bold;
				font-size: 32px;
				letter-spacing: -3px;
				text-align: center;
				padding: 0px 0px 0px 0px;
				line-height: 1.4;
				font-family:'Arial' ;
				color: rgba(255, 255, 255, 0.55);
				border: 1px solid #ffffff80;
				transform: translateZ(10px) scale(1.5);
				cursor: pointer;
			}

			.arrow-left{
				letter-spacing: 3px!important;
			}

			.arrow-left:hover, .arrow-right:hover{
				color: rgba(172, 172, 189, 0.76);
				background-color: #f3f3f399;
				transition: 0.2s;
			}

	.carousel{
		width: 100%;
		margin: 6px 0px 0px 0px;
	}
		.slider-left{
			width: 40px;
			height:inherit;
			position: relative;
			float: left;
			background: rgba(0, 0, 0, 0.43);
			border: 1px solid #92929266;
			outline: none;
		}
		.slider-right{
			width: 40px;
			height:inherit;
			position: relative;
			float: left;
			background: rgba(0, 0, 0, 0.43);
			border: 1px solid #92929266;
			outline: none;
		}
		.slider-list{
			width: 100%;
			height: 139px;
			background:black;
			position: relative;
			float: left;
			white-space: nowrap;
			overflow: hidden;
		}
		.slider-item{
			width: 130px;
			height: 130px;
			background-color: black;
			position: relative;
			margin: 4px;
			display: inline-block;
			background-size: cover;
			background-position: center;
			outline: 1px solid #e1ddff;
		}


