.gallery{
	position: relative;
	background: black;
	margin: 20px 0px 20px 0px;
}

.slider-image-list{
	width: 100%;
	margin: 0 auto;
	background: black;
}

	.slider-display{
		width: 100%;
		height: 400px;
		position: relative;
		margin: 0 auto;
	}
		.slider-image{
			width: 100%;
			height: 100%;
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
		}
		.slider-prev{
			width: 60px;
			height: 100%;
			left: 0px;
			top: 0px;
			position: absolute;
			z-index: 1;
			background: rgba(0, 0, 0, 0.43);
			border: 1px solid #92929266;
			outline: none;
		}
		.slider-next{
			width: 60px;
			height: 100%;
			right: 0px;
			top: 0px;
			position: absolute;
			z-index: 1;
			border: 1px solid #92929266;
			outline: none;
			background: rgba(0, 0, 0, 0.43);
		}

	.carousel{
		width: 100%;
		margin: 6px 0px 0px 0px;
	}
		.slider-left{
			width: 40px;
			height:inherit;
			position: relative;
			float: left;
			background: rgba(0, 0, 0, 0.43);
			border: 1px solid #92929266;
			outline: none;
		}
		.slider-right{
			width: 40px;
			height:inherit;
			position: relative;
			float: left;
			background: rgba(0, 0, 0, 0.43);
			border: 1px solid #92929266;
			outline: none;
		}
		.slider-list{
			width: 100%;
			height: 139px;
			background:black;
			position: relative;
			float: left;
			white-space: nowrap;
			overflow: hidden;
		}
		.slider-item{
			width: 130px;
			height: 130px;
			background-color: #5b3217;
			position: relative;
			margin: 4px;
			display: inline-block;
			background-size: cover;
			background-position: center;
		}