.header {
	position: fixed;
	width: 100%;
	height: 128px;
	background: #0e0603;
	border-bottom-right-radius: 50% 58%;
	border-bottom-left-radius: 50% 58%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;

	&>.header-bg{
			width: 100%;
			height: 138px;
			background: #0e0603c7;
			border-bottom-right-radius: 50% 58%;
			border-bottom-left-radius: 50% 58%;
			position: absolute;
			z-index: -1;
	}

	& > .btn-menu-header{
			position: fixed;
			left: 4px;
			top: 9px;
			width: 45px;
			height: 45px;
			background-color: #000000;
			background-image: url(/assets/images/header/btn-menu.png);
			background-repeat: no-repeat;
			background-size: cover;
			box-sizing: border-box;
			cursor: pointer;
			border: 2px solid #3b3b3b;
			border-radius: 6px;
			z-index: 1;
			display: none;
	}

	& > .btn-menu-header:hover{
			box-shadow: 1px 1px 8px 0px white;
			transition: 0.2s;
	}

	& > .show-menu{
			width: 320px!important;
			transition: 0.3s;
	}

	& > .hide-menu{
			width: 0!important;
			transition: 0.3s;
	}

	& > .mobile-backdrop{
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			position: fixed;
			background-color: rgba(0, 0, 0, 0.74);
			display: none;
	}

}

.title-company {
	color: #f3f3f3;
	font-size: 36px;
	padding: 17px 0px 10px 0px;
	font-family: 'header-coffee';
	letter-spacing: 4px;
}

.logo-header{
	width: 241px;
	height: 77px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-image: url("/assets/images/header/lab-logo-1.png");
	box-sizing: border-box;
	margin-left: 250px;
}

.header > .menu-header {
	width: 31%;
	display: flex;
	justify-content: space-between;
	font-family: 'menu-coffee';
}

.header > .menu-header > .block-menu-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header > .menu-header > .block-menu-header >  .menu-header-items{
	color: #e6e6e6;
	font-size: 18px;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.bar-block-menu-header{
	padding: 170px 0px 0px 0px;
	display: flex!important;
	flex-direction: column;
}

.hide-menu-header-items{
	display: none!important;
}


 .show-menu-item{
	display: flex!important;
}

.hide-menu-item{
	display: none!important;
}



.header > .menu-header > .block-menu-header > .menu-header-items:hover{
	color: #f9f9f9;
	text-shadow: 0px 0px 20px #c5c5c5;
}

.header > .name-company{
	width: 226px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-image: url("/assets/images/header/lab-2.png");
	box-sizing: border-box;
	margin-right: 250px;
	background-size: contain;
}

