.header {
	width: 102%;
	left: -1%;
	height: 128px;
	position: relative;
	background: #0e0603;
	border-bottom-right-radius: 50% 58%;
	border-bottom-left-radius: 50% 58%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;

	&-bg{
		width: 102%;
		height: 138px;
		background: #0e0603c7;
		border-bottom-right-radius: 50% 58%;
		border-bottom-left-radius: 50% 58%;
		position: absolute;
		z-index: -1;
	}

}

.title-company {
	color: #f3f3f3;
	font-size: 36px;
	padding: 17px 0px 10px 0px;
	font-family: 'header-coffee';
	letter-spacing: 4px;
}

.logo-header{
	width: 241px;
	height: 77px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-image: url("/assets/images/header/lab-logo-1.png");
	box-sizing: border-box;
	margin-left: 250px;
}

.header > .menu {
	width: 31%;
	display: flex;
	justify-content: space-between;
	font-family: 'menu-coffee';
}

.header > .menu > span{
	color: #e6e6e6;
	font-size: 18px;
	letter-spacing: 1.5px;
}

.header > .name-company{
	width: 226px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-image: url("/assets/images/header/lab-2.png");
	box-sizing: border-box;
	margin-right: 250px;
	background-size: contain;
}
