
.impress-primary{
	background: #110804;
	padding: 35px 0px 0px 0px;

	& > .impress-wrap{
			position: relative;
			color: #f0f0f0;
			padding: 29px 0px 22px 24px;
			background: #0e0603;

		& > .impress-block{
				width: 74%;

			& > .ava-impress{
					width: 120px;
					height: 120px;
					background-size: cover;
					background-repeat: no-repeat;
					box-sizing: border-box;
					border-radius: 100px;
					background-position-x: center;
			}

			& > .ava-impress.woman{
					background-image: url("/assets/images/impress/woman-3.jpg");
			}

			& > .ava-impress.man{
					background-image: url("/assets/images/impress/man.jpg");
			}

			& > .comment-impress{
					padding: 20px 0px 0px 31px;
					width: 78%;

				& > span.text-comment-impress{
						display: block;
						font-family: 'small-bar';
						padding: 0px 0px 13px 0px;
						font-size: 17px;
						letter-spacing: 0.2px;
				}

				& > span.label-comment-impress{
						display: block;
						font-family: 'header-coffee';
						font-size: 14px;
				}
			}

		}
	}

	& > .link-comments{
			color: #f0f0f0;
			font-family: 'eliana';
			display: flex;
			justify-content: flex-end;
			align-items: center;
			background: #0f0603;
			cursor: pointer;
	}

	& > .link-comments:hover{
			color: white;
			text-shadow: -1px 0px 3px white;
			transition: 0.5s;
	}

	& > .link-comments:last-child span{
			padding: 6px 6px 0px 0px;
	}
}