#main{
	position: relative;
	max-width: 1640px;
	margin: 0 auto;
}

.d-flex{
	display: flex;
}

.jc-between{
	justify-content: space-between;
}

.jc-center{
	 justify-content: space-between;
 }

.jc-end{
	justify-content: flex-end;
}

.jc-start{
	justify-content: flex-start;
}

.jc-end{
	justify-content: flex-end;
}

.fd-column{
	 flex-direction: column;
 }

.fd-column-reserve{
	flex-direction: column-reverse;
}

.ai-center{
	align-items: center;
}
