.app{
	position: relative;
}

.d-flex{
	display: flex;
}

.jc-between{
	justify-content: space-between;
}

.jc-center{
	justify-content: space-between;
}

.jc-start{
	justify-content: flex-start;
}

.jc-end{
	justify-content: flex-end;
}

.ai-center{
	align-items: center;
}
