@media  screen and ( max-width : 1170px ) {

	.header > .menu-header {
		width: 46%;
	}
}


@media screen and ( max-width:917px ){

	.header > .menu-header{
		width: 0px;
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		font-family: 'menu-coffee';
		background: #151515;
		position: fixed;
		left: 0;
		height: 100%;
		z-index: 0;
		padding: 87px 0px 0px 0px;
	}

	.header > .menu-header > .block-menu-header > span {
		color: #e6e6e6;
		font-size: 20px;
		letter-spacing: 1.5px;
		cursor: pointer;
		padding: 21px 0px 19px 0px;
		border-top: 1px solid #202020;
		text-align: center;
	}

	.ground-promotion > .block-promotions{
		padding: 0px 0px 0px 0px;
	}

	.social-poster > .poster-block{
		padding: 0px 0px 0px 0px!important;
		flex-wrap:	wrap;
	}

	.social-poster > .poster-block .poster-shell{
			flex: 1 33%;
	}


	.footer {
		height: auto!important;
	}

	.footer > .footer-info-shell {
		flex-wrap: wrap;
	}

	.footer > .footer-bg {

	}

	.footer > .footer-info-shell {
		padding: 25px 0px 0px 0px!important;
	}

	.footer > .footer-info-shell > span {
		flex: 1 1 45%;
		text-align: center;
		padding: 0px 0px 16px 0px;
	}
}


@media screen and ( max-width:750px ){

	.impress-primary > .impress-wrap {
			flex-wrap: wrap;
	}

	.impress-primary > .impress-wrap > .impress-block {
		width: 100%!important;
	}

	.impress-primary > .impress-wrap div:nth-child(1){
		padding-bottom: 20px!important;
	}
}


@media screen and ( max-width:736px ){

	.header{
		height: 108px;
	}

	.header > .header-bg {
		height: 122px;
	}

	.mobile-slider-height{

	}

	.slider-display {
		height: 317px!important;
	}

	.mobile-position-gallery {
	   background-position: -261px 0px!important;
	}

	.slider-prev, .slider-next {
		width: 51px!important;
	}

	.arrow-left, .arrow-right {
		width: 30px!important;
		height: 30px!important;
		left: 11px!important;
		font-size: 25px!important;
		letter-spacing: -3px!important;
	}

	.backdrop-title-image{
		font-size: 12px;
	}

	.carousel {
		height: 98px!important;
	}

	.carousel > .slider-list > .slider-item {
		width: 90px!important;
		height: 88px!important;
	}

	.impress-primary{
		padding: 35px 0px 25px 0px;
	}
}


@media screen and ( max-width:570px ){

	.slider-display {
		height: 258px!important;
	}


	.slider-prev, .slider-next {
		width: 51px!important;
	}

	.arrow-left, .arrow-right {
		width: 30px!important;
		height: 30px!important;
		left: 11px!important;
		font-size: 25px!important;
		letter-spacing: -3px!important;
	}

	.backdrop-title-image{
		font-size: 12px;
	}

	.carousel {
		height: 98px!important;
	}

	.carousel > .slider-list > .slider-item {
		width: 90px!important;
		height: 88px!important;
	}

	.impress-primary{
		padding: 35px 0px 25px 0px;
	}
}


@media screen and ( max-width:320px ){
	.title-company {
		padding: 11px 0px 10px 40px;
	}

	.title-company {
		font-size: 38px;
	}
}