@media  screen and (max-width : 1170px) and(max-width:1024px){

	.header > .menu {
		width: 46%;
	}

	.social-poster > .poster-block{
		width: 99%;
	}
}

@media screen and (max-width:900px){

	.header > .menu-header{
		width: 0px;
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		font-family: 'menu-coffee';
		background: #151515;
		position: fixed;
		left: 0;
		height: 100%;
		z-index: 0;
		padding: 87px 0px 0px 0px;
	}

	.header > .menu-header > .block-menu-header > span {
		color: #e6e6e6;
		font-size: 20px;
		letter-spacing: 1.5px;
		cursor: pointer;
		padding: 21px 0px 19px 0px;
		border-top: 1px solid #202020;
		text-align: center;
	}
}
