.social-poster{
	position: relative;
	width: 100%;
	background: #000000;
	padding: 37px 0px 35px 0px;

	& > .poster-block{
			border: 1px solid #ffffff45;
			width: 58%;
			margin: 0 auto;
			padding: 35px 175px 39px 248px;
			border-radius: 10px;

			.poster-shell{
				color: white;
				border: 1px solid #ffffff75;
				padding: 31px 56px 32px 59px;
				margin: 0px 42px 0px 0px;

				& >.poster-title{
						padding: 8px 26px 7px 27px;
						font-size: 22px;
						letter-spacing: 2px;
						border: 1px solid  #ffffff96;
						border-radius: 4px;
						margin-top: 38px;
				}

				& > .poster-item img{
						width: 150px;
						height: 150px;
						background: white;
						border-radius: 110px;
						border: 2px solid white;
				}

			}

	}

}